$default-color: #ccc;
$active-color: #0f66ac;
$bg-color: white;

.toggle-button {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $default-color;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
  background-color: $active-color;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: $bg-color;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
