$disabled-color: grey;
$button-bg-color: #f6f8fa;
$button-border-color: #e1e4e8;
$button-text-color: #2c69a5;
$button-hover-bg-color: #f3f4f6;
$button-hover-border-color: #d1d5da;
$default-text-color: #333;
