$th-background-color: #dbd8d8;
$tr-background-color: #f2f2f2;
$border-color: #ccc;

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 1px solid $border-color;

  &__name {
    width: 60%;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid $border-color;
  }

  th {
    background-color: $th-background-color;
  }

  tr:nth-child(even) {
    background-color: $tr-background-color;
  }

  input[type="checkbox"] {
    pointer-events: none;
    margin: 0;
  }
}
